.card {
    width: 18rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    align-content: flex-start;
}
.hidden {
    display: none;
}
body {
    background-color:#f6f6f6 ; 
}