footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px calc(50% - 500px);
    box-shadow: 0px 0px 3px 0px gray;
    background: #131010;
    flex-shrink: 0;


  }
  .logo i {
    font-style: normal;
    font-size: 40px;
    color:black;
}

  .logo a {
    color: #FFFFFF;
    text-decoration: none;
  }